<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=32fc00d2-6222-4177-bf2f-a5810044c84c.sqlserver.sequelizer.com;Database=db32fc00d262224177bf2fa5810044c84c;User ID=vpsgbdfqapbdwyfe;Password=bPTahKsGtXB8YUT2ZYxbY4SYigAk2tG8ABSbC3Cosj4nMnVnYjpdJmtg53YaihPa;"/>
  </connectionStrings>
</configuration>
